@model Repositories.ViewModels.NewsDetailsViewModel

@{
    ViewBag.Title = "Wiadomość";
}

<div>
    <h1>@Model.Title</h1>
    <hr />
    <div class="news-container">
        <div class="news-content">@Model.News</div>
        <div class="news-author">
            <div>Autor: @Model.User</div>
            <div><a href="/Home/Edit?id=@Model.Id">Edytuj</a></div>
        </div>
    </div>
    <div class="news-comments">
        
    </div>
</div>