@using Domain
@using Microsoft.Ajax.Utilities
@model IEnumerable<News>
@{
    ViewBag.Title = "Newsy ze świata";

}
@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div style="display: block; text-align: center; padding: 10px; background-color: rgba(231, 231, 231, 0.5);">
            <div style="display: block; padding: 20px; background-color: rgb(183, 183, 183);">@item.Content</div>
            <div style="display: block; font-size: 10px; margin-top: 10px; padding: 10px 0px; background-color: rgb(231, 231, 231);">@item.AddDate</div>
        </div>
    }
}
else
{
    <h1>Brak wiadomości</h1>
}