@using Domain
@using Microsoft.Ajax.Utilities
@model IEnumerable<News>
@{
    ViewBag.Title = "Newsy ze świata";

}

@if (Model.Any())
{
    foreach (News item in Model)
    {
        Html.RenderPartial("Details", item);
    }
}
else
{
    <h1>Brak wiadomości</h1>
}