@font-face {
    font-family: 'Poiret One', cursive;
    src: url('PoiretOne-Regular.ttf');
}

div.container {
    padding-top: 150px;
    max-width: 100%;
    padding: 0px;
}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar-default {
    position: fixed;
    min-width: 100%;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

div.news-container {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: rgba(231, 231, 231, 0.5);
    width: 800px;
    padding-bottom: 50px;
}

div.news-title {
    display: block;
    float: left;
}

    div.news-title > div {
        display: block;
        margin-top: 10px;
        padding: 5px 5px;
        /*background-color: rgb(231, 231, 231);*/
        margin-right: 10px;
        text-align: left;
    }

    div.news-title > span {
        font-size: 10px;
        float: left;
        display: inline-block;
    }

div.news-content {
    display: inline-block;
    padding: 20px;
    background-color: rgb(183, 183, 183);
    margin-top: 10px;
    text-align: justify;
    width: 100%;
}

div.news-author {
    display: block;
    float: right;
}

    div.news-author > div {
        display: inline-block;
        font-size: 10px;
        margin-top: 10px;
        padding: 10px 10px;
        background-color: rgb(231, 231, 231);
        display: inline-block;
        font-size: 10px;
        margin-top: 10px;
        padding: 10px 10px;
        background-color: rgb(231, 231, 231);
        margin-right: 10px;
    }

    div > textarea.text-area-news {
        height: 500px;
    }